<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/helpers.css' />
    <link rel='stylesheet' href='/stylesheets/shareout.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/groups.css' />
    <link rel='stylesheet' href='/stylesheets/users.css' /> 
    <link rel='stylesheet' href='/stylesheets/share_out.css' /> 
  </head>
  <body>
    <div class="container">
      <nav class="main-menu">
        <ul class="nav pull-left">
          <% if (current_user) { %>
            <li class=""><a href="/groups/dashboard">Dashboard</a></li>
            <li class=""><a href="/groups">My Groups</a></li>
          <% } else { %>
            <li class="active"><a href="/">Home</a></li>
          <% } %>
        </ul>
          <% if (current_user) { %>
            <div class="welcome-nav pull-right">
              Welcome <%= current_user.name %>
              <a href="/users/sign_out">Sign Out</a>
            </div>
          <% } else { %>
            <ul class="auth-nav nav pull-right">
              <li class="auth-nav-sign-in"><a href="/users/sign_in">Sign In</a></li>
              <li class="auth-nav-sign-up"><a href="/users/sign_up">Sign Up</a></li>
            </ul>
          <% } %>
        <div class="clearfix"></div>
      </nav>

      <% if (alert_error) { %>
        <p class="alert alert-error"><%= alert_error %></p>
      <% } %>

      <% if (alert_success) { %>
        <p class="alert alert-success"><%= alert_success %></p>
      <% } %>
