<% include ../header %>

<h1>Groups</h1>

<p>Groups count: <%= groups.length %></p>

<a href="/groups/new" class="btn btn-success">New Group</a>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for (var i in groups) { %>
    <tr>
      <td><a href="/groups/show/<%= groups[i].id %>"><%= groups[i].name %></a></td>
      <td><%= groups[i].description %></td>
    </tr>
  <% } %>
</table>

<% include ../footer %>
