<% include ../header %>

<h1>Groups</h1>

<p>Groups count: <%= groups.length %></p>

<a href="/groups/new" class="btn btn-success">New Group</a>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
</table>

<% include ../footer %>
