<% include ../header %>

<h1><%= group.name %></h1>

<a href="/groups">Back</a>

<hr>

<p><i><%= group.description %></i></p>

<p><b>Created at: </b><%= formatDateTime(group.createdAt) %></p>

<% include activities %>

<% include users %>


<% include ../footer %>
