

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=400, user-scalable=yes" />
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />

        <meta name="description" content="ShareOut is a free website for sharing expenses,tracking bills among friends and rommies.Its available on iphone,android and web!">
        <meta property="og:image" content="http://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/homepage/logo-small-transparent-c9ec71fb36d981af9415635acf0f1b5b.png"/>
        <meta property="og:image:secure_url" content="https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/homepage/logo-small-transparent-c9ec71fb36d981af9415635acf0f1b5b.png" />
        <title>Sign up-ShareOut</title>
        
        <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='/stylesheets/normalize.css' />
        <link rel='stylesheet' href='/stylesheets/helpers.css' />
        <link rel='stylesheet' href='/stylesheets/shareout.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/groups.css' />
        <link rel='stylesheet' href='/stylesheets/users.css' /> 
        <link rel='stylesheet' href='/stylesheets/share_out.css' /> 

    </head>
    
    <body id="fat_rabbit">

    <div class="headerBar"></div>
        <div class="wrapper">
            <div class="toppad">&nbsp;</div>
                    
               <div class="flex_container blank_page clearfix">
                    <% if (alert_error) { %>
                        <p class="alert alert-error"><%= alert_error %></p>
                    <% } %>

                    <% if (alert_success) { %>
                        <p class="alert alert-success"><%= alert_success %></p>
                    <% } %>
                <a href="/"><img alt="Logo" class="envelope" height="200" src="/images/logo_1546739_web.jpg" width="200" /></a>
                <div class="content-block">
                    <h2>
                        Please provide your information 
                    </h2>
                    <form accept-charset="UTF-8" action="/users/sign_up" class="form-stacked" id="new_user" method="post"> 
                        <div style="font-size: 24px; line-height: 140%; margin: 16px 0 5px">
                            My Name
                        </div>
                        <input autocomplete="off" id="user_name" name="name" onchange="showSecondaryFields()" onkeyup="showSecondaryFields()" placeholder="" size="30"  tabindex="1" type="text" value="<%= user.name %>" />

                        <div class="secondary_fields" style='display: none'>
                            <div>
                                <strong> Email:</strong>
                                <br>
                                <input id="user_email" name="email" size="30" tabindex="2" type="email" value="<%= user.email %>"/>
                            </div>
                            <div>
                                <strong>Password:</strong>
                                <br>
                                <input id="user_password" name="password" size="30" tabindex="3" type="password" />
                            </div>
                        </div>

                        <div style="position: relative; margin-top: -3px">
                            <input autocomplete="off" class="shinybtn" type="submit" value="Sign me up!" />
                        </div>

                    </form>  </div>
            </div>
        </div>

        <script src="//dx0qysuen8cbs.cloudfront.net/assets/adorable-9e266ac404d94fae482d7c6d18c67b96.js" type="text/javascript"></script>
        <script>
            function showSecondaryFields() {
                $('.secondary_fields').slideDown();
            }
         
        </script>
        <script>$('#user_name').focus()</script>

        <script>
            // Track existing user logins on Mixpanel
            if ($.cookies.test()) {
                $.cookies.set("notLoggedIn", true);
            }
        </script>
        <div class="footerBar"></div>
    </body>
</html>

